.pattern1, .pattern2{
  background-image:url('./assets/image/updatePattern.svg')
}

.heroGradient{
  background: linear-gradient(117.01deg, #007DF0 -22.06%, #030D6C 65.18%);
}


.galleryGrad{
  background: linear-gradient(270deg, #005D8E -22.96%, #0085E6 123.08%);
}

.newsletterGrad{
  background: linear-gradient(100.75deg, #ECD844 -14.51%, #FFFFFF 115.42%);
}

.registrationGrad{
  background: linear-gradient(101.64deg, #404040 -3.72%, #222222 102.36%);
}

*{
  scroll-behavior: smooth;
}


.impactGradient {
  background: linear-gradient(100.75deg, #ECD844 -14.51%, #FFFFFF 115.42%);
}

.giveGradient{
  background: linear-gradient(101.64deg, #404040 -3.72%, #222222 102.36%);
}


.custom-select select{
  
}