.pattern1, .pattern2{
  background-image:url('./assets/image/updatePattern.svg')
}

.heroGradient{
  background: linear-gradient(117.01deg, #FEFCED -22.06%, #F2F5F7 89.74%);
}

.heroImage{
  background: linear-gradient(360deg, #002344 11.36%, rgba(0, 104, 200, 0.32) 108.07%), url("../src/assets/image/heroImage.png");
  background-repeat: no-repeat;
  background-size:cover;

}


.galleryGrad{
  background: linear-gradient(270deg, #005D8E -22.96%, #0085E6 123.08%);
}

.newsletterGrad{
  background: linear-gradient(100.75deg, #ECD844 -14.51%, #FFFFFF 115.42%);
}

.registrationGrad{
  background: linear-gradient(101.64deg, #404040 -3.72%, #222222 102.36%);
}

*{
  scroll-behavior: smooth;
}


.impactGradient {
  background: linear-gradient(100.75deg, #ECD844 -14.51%, #FFFFFF 115.42%);
}

.giveGradient{
  background: linear-gradient(101.64deg, #404040 -3.72%, #222222 102.36%);
}





.basic:before {
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  -webkit-animation: spin .5s infinite linear;
          animation: spin .5s infinite linear;
  border: 6px rgb(237, 237, 237) solid;
  border-left-color: grey;
  border-radius: 100%; }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }